<div class="wrapper fadeInDown">
    <div id="formContent">

        <div class="fadeIn first">
            <img src="assets/libs/img/LogoHorus.png" id="icon" alt="User Icon" />

        </div>

        <form [formGroup]="form" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <label *ngIf="isFieldInvalid('usuario')">* </label>
            <input matInput formControlName="usuario" required id="usuario" type="text" class="fadeIn second" placeholder="Usuario">
            <label *ngIf="isFieldInvalid('clave')">*</label>
            <input matInput type="password" id="clave" required class="fadeIn third" formControlName="clave" placeholder="Contraseña">

            <input type="submit" value="Ingresar" class="fadeIn fourth" name="Ingresar">

        </form>


    </div>
</div>