<div class="p-2">
    <div class="row m-2">
        <ng-template #modalDescarte let-modal>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Descarte Tipo Documental</h5>
            </div>
            <div class="modal-body">
                <ng-select *ngIf="motivosDescarte" [items]="motivosDescarte" bindLabel="motivo" 
                bindValue="motivo" style="width: 100%" [(ngModel)]="motivoSelected" placeholder="Motivo Descarte"></ng-select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="CerrarModal()">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="guardarDescarte()">Guardar</button>
            </div>
        </ng-template>
        <ng-select *ngIf="colas" [items]="colas" bindLabel="nombreCola" bindValue="idCola" 
        (change)="onChange($event)" style="width: 25%" placeholder="Colas trabajo" #ngselectColas>
        </ng-select>
    </div>

    <div class="row m-2">
        <div class=" m-1 badge badge-light" *ngIf="imagen">
            <span><b>NombreDocumento:</b>  {{ NombreDocumento}}   //    <b>IdLote: </b>  {{ IdLote}}   //   <b>IdDocumento:</b>   {{ IdDocumento }}</span>
        </div>
        <div *ngIf="!imagen" class="container">
            <br><br>
            <h3 class="h3"></h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="loader16"></div>
                </div>
            </div>
        </div>
        <div *ngIf="imagen" class="col col-md-8 col-md-8">
            <input (change)="onFileSelected()" type="file" id="file" class="d-none" accept=".pdf" />
            <div class="toolbar d-flex">
                <!-- <span class="my-icon" [inlineSVG]="'/assets/icon/baseline-open_in_browser-24px.svg'" (click)="openLocalFile()" title="Open File"></span> -->
                <!-- <span class="my-icon" [ngClass]="{ active: isOutlineShown }" [inlineSVG]="'/assets/icon/baseline-toc-24px.svg'" (click)="toggleOutline()" title="Toggle Outline"></span> -->
                <span class="my-icon" [inlineSVG]="'/assets/icon/baseline-rotate_left-24px.svg'" (click)="rotate(-90)" title="Rotate Left"></span>
                <span class="my-icon" [inlineSVG]="'/assets/icon/baseline-rotate_right-24px.svg'" (click)="rotate(90)" title="Rotate Right"></span>
                <span class="my-icon" [inlineSVG]="'/assets/icon/baseline-zoom_in-24px.svg'" (click)="incrementZoom(0.1)" title="Zoom In"></span>
                <span class="my-icon" [inlineSVG]="'/assets/icon/baseline-zoom_out-24px.svg'" (click)="incrementZoom(-0.1)" title="Zoom Out"></span>
                <span class="my-icon" [ngClass]="{ active: fitToPage }" [inlineSVG]="'/assets/icon/baseline-insert_drive_file-24px.svg'" (click)="fitToPage = !fitToPage" title="Toggle Fit Page"></span>
                <span class="my-icon" [ngClass]="{ active: showAll }" [inlineSVG]="'/assets/icon/baseline-multi-pages-24px.svg'" (click)="showAll = !showAll" title="Toggle Show All"></span>

                <ng-container *ngIf="!showAll">
                    <span class="my-icon ml-auto" [inlineSVG]="'/assets/icon/baseline-navigate_before-24px.svg'" (click)="incrementPage(-1)" title="Previous Page"></span>
                    <div>
                        <input type="number" class="page-num" placeholder="Page" [(ngModel)]="page" pattern="-?[0-9]*(\.[0-9]+)?" tabindex="2" />
                        <span *ngIf="pdf">of {{ pdf.numPages }}</span>
                    </div>
                    <span class="my-icon" [inlineSVG]="'/assets/icon/baseline-navigate_next-24px.svg'" (click)="incrementPage(1)" title="Next Page"></span>
                </ng-container>

                <label class="my-icon ml-auto" [inlineSVG]="'/assets/icon/baseline-search-24px.svg'" for="searchbox" title="Search.."></label>
                <input #queryInp type="text" id="searchbox" name="searchbox" class="searchbox mr-5" placeholder="Search..." [value]="pdfQuery" tabindex="3" (input)="searchQueryChanged($event.target.value)" (keyup.enter)="searchQueryChanged(queryInp.value)" />
            </div>
            <div class="pdf-body">
                <div *ngIf="isOutlineShown" class="outline">
                    <ul *ngFor="let item of outline" class="outline-list">
                        <li>
                            <a (click)="navigateTo(item.dest)"> {{ item.title }} </a>

                            <ul *ngFor="let child of item.items">
                                <li>
                                    <a (click)="navigateTo(child.dest)"> {{ child.title }} </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>   

                <div style="overflow-y: scroll;overflow-x: scroll;" #pdfV>
                    <pdf-viewer
                        (keydown)="onKeyDown($event)" [src]="pdfSrc" [(page)]="page" 
                        [rotation]="rotation" [original-size]="originalSize" [fit-to-page]="fitToPage" 
                        (after-load-complete)="afterLoadComplete($event)" [zoom]="zoom" 
                        [show-all]="showAll" [stick-to-page]="stickToPage"
                        [render-text]="renderText" [external-link-target]="'blank'" 
                        [autoresize]="autoresize" (error)="onError($event)" 
                        (on-progress)="onProgress($event)" (page-rendered)="pageRendered($event)" 
                        style="display: block; height: 65vh;">
                    </pdf-viewer>                
                </div>    
               
                </div>
        </div>

        <div *ngIf="imagen" class="col col-md-4 col-md-4">

            <div class="card" style="width: 30vw;background-color: #f0f0f0;">
                <div class="card-body">
                    <div class="form-group">
                        <h6>Tipo Documental</h6>
                        <ng-select [items]="tiposDocumentales" bindLabel="NombreTipoDocumental" 
                        bindValue="idTipoDocumental" 
                        [(ngModel)]="idTipoDocSelected" 
                        style="width:100%" 
                        placeholder="Tipo Documental" (change)="onChangeTipoDocumental($event)">
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <h6>Template</h6>
                        <ng-select [items]="ArrayTemplate" bindLabel="NombreTemplate" 
                        bindValue="idtemplate_" [(ngModel)]="idTemplateSelected" style="width:100%" 
                        placeholder="Template" #ngSelectTemplate> </ng-select>
                    </div>
                </div>
            </div>
            <br>
            <div *ngIf="idTemplateSelected" class="scrollformdinamico" #divFormDinamico
            style="height: 44vh;">
                <dynamic-form-builder (onSubmit)="displayform($event)" [fields]="fields"></dynamic-form-builder>
            </div>
        </div>

    </div>
    <div *ngIf="mostrarok" class="alert alert-success" role="alert">
        Lote guardado exitosamente!
    </div>
</div>