<nav class="navbar navbar-expand-lg  navbar navbar-light" style="background-color: #f0f0f0; ">
    <a class="navbar-brand " href="# "></a>
    <!-- *ngIf="isLoggedIn$ | async as isLoggedIn" -->
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
  <span class="navbar-toggler-icon "></span>
</button>
    <a class="navbar-brand" href="#">
        <img src="assets/libs/img/LogoHorus.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>

    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active ">
                <a class="nav-link " [routerLink]="['home']">HorusWeb</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " [routerLink]="['login']">Login </a>
            </li>


            <li ngbDropdown class="nav-item dropdown " style="Width:40%">
                <a ngbDropdownToggle class="nav-link dropdown-toggle " id="navbarDropdown " role="button " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
        Proceso 
      </a>
                <div ngbDropdownMenu class="dropdown-menu dropright " aria-labelledby="navbarDropdown ">
                    <a class="dropdown-item " [routerLink]="['colas']">Indexacion</a>
                    <a class="dropdown-item " href="# ">Another action</a>
                    <div class="dropdown-divider "></div>
                    <a class="dropdown-item " href="# ">Something else here</a>
                </div>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0 ">
            <button class="btn btn-outline-primary my-2 my-sm-0 " type="submit" (click)="onLogout()">Salir</button>
        </form>
    </div>
</nav>